{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
        <div class="container">
            <div class="section">
                <table>
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Shares</th>
                            <th>Price</th>
                            <th>Transacted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for transaction in user_transactions %}
                            <tr>
                                <td>{{ transaction.symbol }}</td>
                                <td>{{ transaction.shares }}</td>
                                <td>{{ '%0.2f'|format(transaction.price|float) }}</td>
                                <td>{{ transaction.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
